.meta {
  padding: 3px;
}

.date {
  float: right;
}

.comment-text {
  padding: 5px;
}
.comment-meta-buttons {
  display: inline-block;
}

.comment-space {
  padding-left: 20px;
}

.deleted-meta {
  padding: 15px;
}
