<mat-card
  ><form (ngSubmit)="onSignup(f)" #f="ngForm">
    <mat-list>
      <mat-form-field>
        <input
          type="text"
          placeholder="Username"
          matInput
          ngModel
          name="username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          type="password"
          ngModel
          name="password"
          required
        />
      </mat-form-field>
    </mat-list>
    <button mat-button type="submit" [disabled]="!f.valid">
      {{ "Signup" }}
    </button>
  </form>
  <div></div>
</mat-card>
